body{
	margin-right: 10px;
	margin-left: 100px;
	background-image: no-repeat fixed center; 
	
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

	background-position: fixed; 
	background-repeat: no-repeat;
	background-position: center;

}
input{
	margin:0 0 10px 0;
}
h1{
	color: white;
	
}
label{
	color: white;
	text-transform: uppercase;
  font-family: Raleway, sans-serif;
}
.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}